body {
    font-family: 'Quattrocento', sans-serif;
    font-weight: normal;
}
.header {
    text-align: center;
    border: 1px 0px 0px solid black;
    border-radius: 0px 0px 6px 6px
    
}
.header ul {
    list-style: none;
}
.header ul li {
    border-left:1px solid #AAAAAA;
    display:inline;
    margin-left:-1px;
    padding:0 0.75ex;
}
a {
    text-decoration: none;
}
.header ul li.first {
    border-left:medium none;
    padding-left: 1px;
}

.header h1, .header h2, .header h3 {
    margin: 0px;
}
.header h1 {
    font-size: 60px;
    font-family: 'McLaren', cursive;
    display: inline-block;
}
a.nohighlight:visited {
    color: black;
}
.header h2 {
    font-size: 20px;
    display: inline-block;
    position: absolute;
    font-family: 'Courgette', cursive;
}
.content {
    width: 75%;
    margin-left: 15%;
    border: 1px solid black;
    background: #E0EBEB;
    border-radius: 4px;
    padding: 5px;
}
.content p {
    margin: 5px;
    margin-bottom: 10px;
}
.content ul.faq {
    list-style: none;
}
.content ul.faq li.q:before {
    content: "Q: ";
    font-family: 'McLaren', cursive;
    font-size: 20px;
}

.content ul.faq li.a:before {
    content: "A: ";
    font-family: 'McLaren', cursive;
    font-size: 20px;
}
.content ul.faq li.a {
    margin-bottom: 15px;
}
.content .Sopel {
    font-family: 'McLaren', cursive;
    font-size: 20px;
}


.content table {
    border-width: 1px;
    border-spacing: 0px;
    border-style: solid;
    border-color: gray;
    border-collapse: collapse;
}
.content th {
    border-width: 2px;
    padding: 5px;
    border-style: solid;
    border-color: gray;
    background-color: #CAD4D4;
    -moz-border-radius: ;
}
.content td {
    border-width: 2px;
    padding: 5px;
    border-style: solid;
    border-color: gray;
    -moz-border-radius: ;
}
.content tr:nth-child(odd) {
    background-color: #E0EBEB;
}
.content tr:nth-child(even) {
    background-color: #D3DEDE;
}

.creativecommons {
    width: 75%;
    text-align: center;
    margin: auto;
}
code {
    border: 1px dotted;
    border-radius: 0px 1px 0px 1px;
}
