<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }} - {{ site.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/style.css">
        <!-- Fonts -->
        <link href='https://fonts.googleapis.com/css?family=Courgette|McLaren|Quattrocento' rel='stylesheet' type='text/css'>

        <!-- ALL the icons (why are there so many different standards?) -->
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="194x194" href="/assets/icons/favicon-194x194.png">
        <link rel="icon" type="image/png" sizes="192x192" href="/assets/icons/android-chrome-192x192.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/favicon-16x16.png">
        <link rel="manifest" href="/assets/icons/site.webmanifest">
        <link rel="mask-icon" href="/assets/icons/safari-pinned-tab.svg" color="#e0ebeb">
        <link rel="shortcut icon" href="/favicon.ico">
        <meta name="msapplication-TileColor" content="#e0ebeb">
        <meta name="msapplication-config" content="/assets/icons/browserconfig.xml">
        <meta name="theme-color" content="#e0ebeb">
    </head>
    <body>
        <!-- GitHub ribbon -->
        <a href="https://github.com/sopel-irc/sopel"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_darkblue_121621.png" alt="Fork me on GitHub"></a>

        <div class="site">
          <div class="header">
            <h1 class="title"><a class="nohighlight" href="/">{{ site.title }}</a></h1>
            <h2>{{ site.tagline }}</h2>{% if site.subtitle %}
            <h3>{{ site.subtitle }}</h3>
            {% endif %}<ul id="nav">
                <li class="first"><a href="{{ site.repo }}">Source Code</a></li>
                <li><a href="https://sopel.chat/docs/">API Documentation</a></li>
                <li><a href="{{ site.repo }}/issues">Issue Tracker</a></li>
                <li><a href="{{ site.repo }}/wiki">Wiki</a></li>
                <li><a href="/download.html">Download</a></li>
            </ul>
          </div>
          <div class="content">
              {{ content }}
          </div>

        </div>
        <!-- Creative Commons banner -->
        <div class="creativecommons">
<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" property="dct:title" rel="dct:type">sopel.chat</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="https://github.com/sopel-irc/sopel-website/contributors" property="cc:attributionName" rel="cc:attributionURL">Sopel contributors</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
            <br />
            Source for this site is on <a href="https://github.com/sopel-irc/sopel-website">GitHub</a>.
        </div>
    </body>
</html>
